<a href="https://colab.research.google.com/github/nastyha002/nastyha002/blob/main/%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%22%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%22%D0%97%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5_1_ipynb%22_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Задание по практике 1

##Загрузка датасета
В файле classification datasets расположены ссылки на датасеты. Выберите один в соответствии со своим вариантом, скачайте и прочитайте файл

**Не забудьте загрузить нужные библиотеки**

Например: pip3 install pandas

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('/content/Global YouTube Statistics.csv', encoding='windows-1252')
df

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,...,NaN,2006.0,Mar,5.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,...,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,...,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,991,Natan por Aï¿,12300000,9.029610e+09,Sports,Natan por Aï¿,1200,Brazil,BR,Entertainment,...,700000.0,2017.0,Feb,12.0,51.3,2.125594e+08,12.08,183241641.0,-14.235004,-51.925280
991,992,Free Fire India Official,12300000,1.674410e+09,People & Blogs,Free Fire India Official,1500,India,IN,Games,...,300000.0,2018.0,Sep,14.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
992,993,Panda,12300000,2.214684e+09,NaN,HybridPanda,2452,United Kingdom,GB,Games,...,1000.0,2006.0,Sep,11.0,60.0,6.683440e+07,3.85,55908316.0,55.378051,-3.435973
993,994,RobTopGames,12300000,3.741235e+08,Gaming,RobTopGames,39,Sweden,SE,Games,...,100000.0,2012.0,May,9.0,67.0,1.028545e+07,6.48,9021165.0,60.128161,18.643501
994,995,Make Joke Of,12300000,2.129774e+09,Comedy,Make Joke Of,62,India,IN,Comedy,...,100000.0,2017.0,Aug,1.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

##Первое знакомство с датасетом
В следующих ячейках выведите:


1.   Колонки датасета
2.   Первые 5 значений
3.   Последние 5 значений
4.   Статистику по числовым колонкам

In [ ]:
df.columns

Index(['rank', 'Youtuber', 'subscribers', 'video views', 'category', 'Title',
       'uploads', 'Country', 'Abbreviation', 'channel_type',
       'video_views_rank', 'country_rank', 'channel_type_rank',
       'video_views_for_the_last_30_days', 'lowest_monthly_earnings',
       'highest_monthly_earnings', 'lowest_yearly_earnings',
       'highest_yearly_earnings', 'subscribers_for_last_30_days',
       'created_year', 'created_month', 'created_date',
       'Gross tertiary education enrollment (%)', 'Population',
       'Unemployment rate', 'Urban_population', 'Latitude', 'Longitude'],
      dtype='object')

In [6]:
print(df.head(5))

   rank                    Youtuber  subscribers   video views  \
0     1                    T-Series    245000000  2.280000e+11
1     2              YouTube Movies    170000000  0.000000e+00
2     3                     MrBeast    166000000  2.836884e+10
3     4  Cocomelon - Nursery Rhymes    162000000  1.640000e+11
4     5                   SET India    159000000  1.480000e+11

           category                       Title  uploads        Country  \
0             Music                    T-Series    20082          India
1  Film & Animation               youtubemovies        1  United States
2     Entertainment                     MrBeast      741  United States
3         Education  Cocomelon - Nursery Rhymes      966  United States
4             Shows                   SET India   116536          India

  Abbreviation   channel_type  ...  subscribers_for_last_30_days  \
0           IN          Music  ...                     2000000.0
1           US          Games  ...                           NaN
2           US  Entertainment  ...                     8000000.0
3           US      Education  ...                     1000000.0
4           IN  Entertainment  ...                     1000000.0

   created_year  created_month  created_date  \
0        2006.0            Mar          13.0
1        2006.0            Mar           5.0
2        2012.0            Feb          20.0
3        2006.0            Sep           1.0
4        2006.0            Sep          20.0

   Gross tertiary education enrollment (%)    Population  Unemployment rate  \
0                                     28.1  1.366418e+09               5.36
1                                     88.2  3.282395e+08              14.70
2                                     88.2  3.282395e+08              14.70
3                                     88.2  3.282395e+08              14.70
4                                     28.1  1.366418e+09               5.36

   Urban_population   Latitude  Longitude
0       471031528.0  20.593684  78.962880
1       270663028.0  37.090240 -95.712891
2       270663028.0  37.090240 -95.712891
3       270663028.0  37.090240 -95.712891
4       471031528.0  20.593684  78.962880

[5 rows x 28 columns]

In [7]:
print(df.tail(5))

     rank                  Youtuber  subscribers   video views  \
990   991             Natan por Aï¿     12300000  9.029610e+09
991   992  Free Fire India Official     12300000  1.674410e+09
992   993                     Panda     12300000  2.214684e+09
993   994               RobTopGames     12300000  3.741235e+08
994   995              Make Joke Of     12300000  2.129774e+09

           category                     Title  uploads         Country  \
990          Sports             Natan por Aï¿     1200          Brazil
991  People & Blogs  Free Fire India Official     1500           India
992             NaN               HybridPanda     2452  United Kingdom
993          Gaming               RobTopGames       39          Sweden
994          Comedy              Make Joke Of       62           India

    Abbreviation   channel_type  ...  subscribers_for_last_30_days  \
990           BR  Entertainment  ...                      700000.0
991           IN          Games  ...                      300000.0
992           GB          Games  ...                        1000.0
993           SE          Games  ...                      100000.0
994           IN         Comedy  ...                      100000.0

     created_year  created_month  created_date  \
990        2017.0            Feb          12.0
991        2018.0            Sep          14.0
992        2006.0            Sep          11.0
993        2012.0            May           9.0
994        2017.0            Aug           1.0

     Gross tertiary education enrollment (%)    Population  Unemployment rate  \
990                                     51.3  2.125594e+08              12.08
991                                     28.1  1.366418e+09               5.36
992                                     60.0  6.683440e+07               3.85
993                                     67.0  1.028545e+07               6.48
994                                     28.1  1.366418e+09               5.36

     Urban_population   Latitude  Longitude
990       183241641.0 -14.235004 -51.925280
991       471031528.0  20.593684  78.962880
992        55908316.0  55.378051  -3.435973
993         9021165.0  60.128161  18.643501
994       471031528.0  20.593684  78.962880

[5 rows x 28 columns]

In [8]:

print(df.describe(include="all"))

             rank  Youtuber   subscribers   video views       category  \
count   995.00000       995  9.950000e+02  9.950000e+02            949
unique        NaN       995           NaN           NaN             18
top           NaN  T-Series           NaN           NaN  Entertainment
freq          NaN         1           NaN           NaN            241
mean    498.00000       NaN  2.298241e+07  1.103954e+10            NaN
std     287.37606       NaN  1.752611e+07  1.411084e+10            NaN
min       1.00000       NaN  1.230000e+07  0.000000e+00            NaN
25%     249.50000       NaN  1.450000e+07  4.288145e+09            NaN
50%     498.00000       NaN  1.770000e+07  7.760820e+09            NaN
75%     746.50000       NaN  2.460000e+07  1.355470e+10            NaN
max     995.00000       NaN  2.450000e+08  2.280000e+11            NaN

          Title        uploads        Country Abbreviation   channel_type  \
count       995     995.000000            873          873            965
unique      992            NaN             49           49             14
top     Preston            NaN  United States           US  Entertainment
freq          2            NaN            313          313            304
mean        NaN    9187.125628            NaN          NaN            NaN
std         NaN   34151.352254            NaN          NaN            NaN
min         NaN       0.000000            NaN          NaN            NaN
25%         NaN     194.500000            NaN          NaN            NaN
50%         NaN     729.000000            NaN          NaN            NaN
75%         NaN    2667.500000            NaN          NaN            NaN
max         NaN  301308.000000            NaN          NaN            NaN

        ...  subscribers_for_last_30_days  created_year  created_month  \
count   ...                  6.580000e+02    990.000000            990
unique  ...                           NaN           NaN             12
top     ...                           NaN           NaN            Jan
freq    ...                           NaN           NaN            101
mean    ...                  3.490791e+05   2012.630303            NaN
std     ...                  6.143554e+05      4.512503            NaN
min     ...                  1.000000e+00   1970.000000            NaN
25%     ...                  1.000000e+05   2009.000000            NaN
50%     ...                  2.000000e+05   2013.000000            NaN
75%     ...                  4.000000e+05   2016.000000            NaN
max     ...                  8.000000e+06   2022.000000            NaN

        created_date  Gross tertiary education enrollment (%)    Population  \
count     990.000000                               872.000000  8.720000e+02
unique           NaN                                      NaN           NaN
top              NaN                                      NaN           NaN
freq             NaN                                      NaN           NaN
mean       15.746465                                63.627752  4.303873e+08
std         8.777520                                26.106893  4.727947e+08
min         1.000000                                 7.600000  2.025060e+05
25%         8.000000                                36.300000  8.335541e+07
50%        16.000000                                68.000000  3.282395e+08
75%        23.000000                                88.200000  3.282395e+08
max        31.000000                               113.100000  1.397715e+09

        Unemployment rate  Urban_population    Latitude   Longitude
count          872.000000      8.720000e+02  872.000000  872.000000
unique                NaN               NaN         NaN         NaN
top                   NaN               NaN         NaN         NaN
freq                  NaN               NaN         NaN         NaN
mean             9.279278      2.242150e+08   26.632783  -14.128146
std              4.888354      1.546874e+08   20.560533   84.760809
min              0.750000      3.558800e+04  -38.416097 -172.104629
25%              5.270000      5.590832e+07   20.593684  -95.712891
50%              9.365000      2.706630e+08   37.090240  -51.925280
75%             14.700000      2.706630e+08   37.090240   78.962880
max             14.720000      8.429340e+08   61.924110  138.252924

[11 rows x 28 columns]

**Ответьте на следующие вопросы:**


1.   Какие средние значения в каждой числовой колонке вашего датасета?
2.   Минимальные и максимальные значения в каждой числовой колонке вашего датасета

*Курсив*

1.   subscribers - 22982412.060302, video views - 1.103954e+10, uploads - 9187.125628, subscribers_for_last_30_days - 3.490791e+05, created_year - 2012.630303 created_date - 15.746465, Gross tertiary education enrollment (%) - 63.627752 Population - 4.303873e+08, Unemployment rate - 9.279278, Urban_population - 2.242150e+08, Latitude - 26.632783 Longitude - -14.128146
2. subscribers - min: 12300000.0 max:245000000.0 , video views - min:0.000000e+00 max:2.280000e+11 , uploads min:0.000000 max:301308.000000 , subscribers_for_last_30_days min:1.000000e+00 max:8.000000e+06 , created_year min:1970.000000 max:2022.000000 created_date min:1.000000 max: 31.000000 , Gross tertiary education enrollment (%) - min:7.600000 max:113.100000, Population min:2.025060e+05 max:1.397715e+09 , Unemployment rate min:0.750000 max:14.720000 , Urban_population min:3.558800e+04 max: 8.429340e+08 , Latitude min:-38.416097 max:61.924110 Longitude - min:-172.104629 max:138.252924

##Типизация
Присвойте соответствующим колонкам один из типов (category, float, int)

In [9]:

"""
df = df.astype({"a": "Int64"})

df = df.astype({"a": "float64"})

"""
df.Youtuber = df.Youtuber.astype("category")
df.category = df.category.astype("category")
df.Title = df.Title.astype("category")
df.Country = df.Country.astype("category")
df.Abbreviation = df.Abbreviation.astype("category")
df.channel_type = df.channel_type.astype("category")
df.created_month = df.created_month.astype("category")
print(df.dtypes)

rank                                          int64
Youtuber                                   category
subscribers                                   int64
video views                                 float64
category                                   category
Title                                      category
uploads                                       int64
Country                                    category
Abbreviation                               category
channel_type                               category
video_views_rank                            float64
country_rank                                float64
channel_type_rank                           float64
video_views_for_the_last_30_days            float64
lowest_monthly_earnings                     float64
highest_monthly_earnings                    float64
lowest_yearly_earnings                      float64
highest_yearly_earnings                     float64
subscribers_for_last_30_days                float64
created_year                                float64
created_month                              category
created_date                                float64
Gross tertiary education enrollment (%)     float64
Population                                  float64
Unemployment rate                           float64
Urban_population                            float64
Latitude                                    float64
Longitude                                   float64
dtype: object

Какие признаки вы можете выделить в своем датасете (категориальные, числовые и др., **минимум 3 разных**, помните что можно также выделить признаки более точно, например числовые - порядковые, количественные и т.д.)?

Ответ:
subscribers - числовые-количественные rank - числовые-порядковые category - категориальные

##Фильтрация
Офильтруйте 3 колонки вашего датасета и выведите результат

In [10]:
df[df["rank"] < 10]

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,...,NaN,2006.0,Mar,5.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,...,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,...,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
5,6,Music,119000000,0.000000e+00,NaN,Music,0,NaN,NaN,Music,...,NaN,2013.0,Sep,24.0,NaN,NaN,NaN,NaN,NaN,NaN
6,7,ýýý Kids Diana Show,112000000,9.324704e+10,People & Blogs,ýýý Kids Diana Show,1111,United States,US,Entertainment,...,NaN,2015.0,May,12.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
7,8,PewDiePie,111000000,2.905804e+10,Gaming,PewDiePie,4716,Japan,JP,Entertainment,...,NaN,2010.0,Apr,29.0,63.2,1.262266e+08,2.29,115782416.0,36.204824,138.252924
8,9,Like Nastya,106000000,9.047906e+10,People & Blogs,Like Nastya Vlog,493,Russia,RU,People,...,100000.0,2016.0,Jan,14.0,81.9,1.443735e+08,4.59,107683889.0,61.524010,105.318756

In [11]:

df[df["subscribers"] < 100000000]

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
9,10,Vlad and Niki,98900000,7.718017e+10,Entertainment,Vlad and Niki,574,United States,US,Entertainment,...,600000.0,2018.0,Apr,23.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
10,11,Zee Music Company,96700000,5.785629e+10,Music,Zee Music Company,8548,India,IN,Music,...,1100000.0,2014.0,Mar,12.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
11,12,WWE,96000000,7.742847e+10,Sports,WWE,70127,United States,US,Sports,...,600000.0,2007.0,May,11.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
12,13,Gaming,93600000,0.000000e+00,NaN,Gaming,0,NaN,NaN,Games,...,NaN,2013.0,Dec,15.0,NaN,NaN,NaN,NaN,NaN,NaN
13,14,BLACKPINK,89800000,3.214460e+10,People & Blogs,BLACKPINK,543,South Korea,KR,Music,...,700000.0,2016.0,Jun,29.0,94.3,5.170910e+07,4.15,42106719.0,35.907757,127.766922
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,991,Natan por Aï¿,12300000,9.029610e+09,Sports,Natan por Aï¿,1200,Brazil,BR,Entertainment,...,700000.0,2017.0,Feb,12.0,51.3,2.125594e+08,12.08,183241641.0,-14.235004,-51.925280
991,992,Free Fire India Official,12300000,1.674410e+09,People & Blogs,Free Fire India Official,1500,India,IN,Games,...,300000.0,2018.0,Sep,14.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
992,993,Panda,12300000,2.214684e+09,NaN,HybridPanda,2452,United Kingdom,GB,Games,...,1000.0,2006.0,Sep,11.0,60.0,6.683440e+07,3.85,55908316.0,55.378051,-3.435973
993,994,RobTopGames,12300000,3.741235e+08,Gaming,RobTopGames,39,Sweden,SE,Games,...,100000.0,2012.0,May,9.0,67.0,1.028545e+07,6.48,9021165.0,60.128161,18.643501
994,995,Make Joke Of,12300000,2.129774e+09,Comedy,Make Joke Of,62,India,IN,Comedy,...,100000.0,2017.0,Aug,1.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

In [12]:
df[df["uploads"] < 10]

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,...,NaN,2006.0,Mar,5.0,88.2,328239523.0,14.70,270663028.0,37.090240,-95.712891
5,6,Music,119000000,0.000000e+00,NaN,Music,0,NaN,NaN,Music,...,NaN,2013.0,Sep,24.0,NaN,NaN,NaN,NaN,NaN,NaN
12,13,Gaming,93600000,0.000000e+00,NaN,Gaming,0,NaN,NaN,Games,...,NaN,2013.0,Dec,15.0,NaN,NaN,NaN,NaN,NaN,NaN
14,15,Goldmines,86900000,2.411823e+10,Film & Animation,goldmines,1,NaN,NaN,Music,...,NaN,2006.0,Aug,15.0,NaN,NaN,NaN,NaN,NaN,NaN
16,17,5-Minute Crafts,80100000,2.623679e+10,Howto & Style,5-Minute Crafts 2.0,1,United Kingdom,GB,Entertainment,...,NaN,2020.0,Jul,27.0,60.0,66834405.0,3.85,55908316.0,55.378051,-3.435973
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
967,968,Troom Troom Indonesia,12500000,5.379684e+09,People & Blogs,TROOM TROOM INDONESIA,8,NaN,NaN,People,...,NaN,2020.0,Jul,29.0,NaN,NaN,NaN,NaN,NaN,NaN
975,976,Gustavo Parï¿½ï¿½,12400000,2.602614e+09,Comedy,GustavoParodias,9,Brazil,BR,Comedy,...,NaN,2010.0,Aug,24.0,51.3,212559417.0,12.08,183241641.0,-14.235004,-51.925280
983,984,MoniLina,12400000,1.608681e+10,Comedy,MoniLinaFamily,0,United States,US,People,...,100.0,2016.0,May,10.0,88.2,328239523.0,14.70,270663028.0,37.090240,-95.712891
985,986,TKOR,12400000,3.392023e+09,Education,TKoR,0,NaN,NaN,People,...,NaN,2006.0,Aug,16.0,NaN,NaN,NaN,NaN,NaN,NaN
986,987,ANNA KOVA,12400000,1.395959e+10,People & Blogs,annakova,1,NaN,NaN,Film,...,NaN,2006.0,Jun,18.0,NaN,NaN,NaN,NaN,NaN,NaN

##Группировка
Сгруппируйте датасет по какому-либо категориальному признаку и выведите среднее значение численных колонок (см. метод mean в pandas)

In [13]:

df.groupby(["subscribers"]).count()

,rank,Youtuber,video views,category,Title,uploads,Country,Abbreviation,channel_type,video_views_rank,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
subscribers,,,,,,,,,,,,,,,,,,,,,
12300000,5,5,5,4,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
12400000,20,20,20,19,20,20,17,17,20,20,...,9,20,20,20,17,17,17,17,17,17
12500000,22,22,22,20,22,22,19,19,20,22,...,9,22,22,22,19,19,19,19,19,19
12600000,5,5,5,5,5,5,5,5,5,5,...,3,5,5,5,5,5,5,5,5,5
12700000,13,13,13,10,13,13,10,10,13,13,...,8,13,13,13,10,10,10,10,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159000000,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
162000000,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
166000000,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
170000000,1,1,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,1
245000000,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

##Задание для гениев *
Агрегируйте числовой признак по категориальному признаку с использованием метода **без использования** библиотеки pandas, и вычислите медиану и среднее значение для каждой категории.

In [ ]:
#Агрегация